#list-settings-modal-container form {
    display: flex;
    flex-direction: column;
}

#list-settings-modal-container button {
    padding: 10px 0;
    background: none;
    width: 100%;
    border: 1px solid rgb(202, 202, 202);
    border-left: none;
    border-right: none;
    border-top: none;
}

#list-settings-modal-container button:last-child {
    border-bottom: none;
}
