#edit-list-items-container form {
    display: flex;
    flex-direction: column;
}

#edit-list-items-container #modal-title {
    font-size: 25px;
}

#edit-list-items-form > button {
    padding: 10px 0;
    background: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 1px solid rgb(202, 202, 202);
    border-radius: 0;
}

.list-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.list-item-input {
    width: 90%;
    height: 25px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid rgb(202, 202, 202);
    font-size: inherit;
    border-radius: 0;
}

.list-item-buttons {
    display: flex;
    align-items: center;
}

.list-item-buttons .reset-list-item-button,
.list-item-buttons .save-list-item-button,
.list-item-buttons .delete-list-item-button,
#add-list-item-button {
    margin: 5px;
    padding: 0;
    vertical-align: center;
    border-radius: 0;
    border: none;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
}

.list-item-buttons .reset-list-item-button {
    color: rgb(67, 67, 67);
}

.list-item-buttons .reset-list-item-button:hover {
    color: black;
}
