#edit-profile-container {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-left: 40px;
}

#edit-profile-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(202, 202, 202);
    margin: 10px;
    padding: 30px 75px;
    row-gap: 10px;
}

#edit-profile-form-title {
    font-size: 24px;
    margin-bottom: 10px;
}

#edit-profile-form-user-image {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    align-self: flex-start;
}

#edit-profile-form input {
    box-sizing: border-box;
    width: 100%;
}

#edit-profile-form button {
    box-sizing: border-box;
    width: 100%;
    align-self: center;
}

#edit-profile-form input#checkbox {
    width: min-content;
}
