/* TODO Add site wide styles */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 800px;
    font-family: 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

h1 {
    font-family: 'Cookie', cursive;
    font-size: 50px;
    margin: 30px 0 15px;
}

ul {
    padding-left: 25px;
    margin: 10px 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

label {
    font-size: 16px;
}

input, textarea {
    border: 1px solid rgb(202, 202, 202);
    border-radius: 3px;
    line-height: 18px;
    padding: 7px;
    font-size: 14px;
    text-overflow: ellipsis;
    background-color: rgb(250, 250, 250);
}

button {
    border-radius: 8px;
    border-width: 1px;
    padding: 10px 20px;
    font-size: 14px;
}

button:hover,
a:hover {
    cursor: pointer;
}

button.primary {
    border: none;
    background: none;
    font-weight: bold;
    color: rgb(0, 149, 246);
}

button.accent {
    border: none;
    background: rgb(0, 149, 246);
    font-weight: bold;
    color: rgb(255, 255, 255);
}

button.normal {
    border: none;
    background: rgb(239, 239, 239);
    font-weight: bold;
    color: rgb(0, 0, 0);
}

button.primary:hover {
    color: rgb(24, 119, 246);
}

button.accent:hover {
    background: rgb(24, 119, 246);
}

button.normal:hover {
    background: rgb(202, 202, 202);
}

button.primary:disabled {
    color: rgb(169, 219, 255);
}

.error-message-container {
    padding: 0;
    margin: 3px 0;
    text-align: left;
}

.error-message {
    color: red;
}

.error-message::marker {
    content: none;
}

.character-counter {
    margin: 3px 0;
    font-size: 10pt;
    color: darkgrey;
}

.character-counter-red {
    color: red;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.keeping-up {
    font-family: 'Cookie', cursive;
}
