/* TODO Add site wide styles */

a {
    text-decoration: none;
    color: inherit;
}

.error-message-container {
    padding: 0;
}

.error-message {
    color: red;
}

.error-message::marker {
    content: none;
}
