/* TODO Add site wide styles */

html, body {
    width: 100%;
    min-width: 800px;
    font-family: 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
}

ul {
    padding-left: 25px;
    margin: 10px 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

input, textarea {
    border: 1px solid lightgrey;
}

button {
    border-radius: 5px;
    border-width: 1px;
    padding: 10px 20px;
}

button:hover,
a:hover {
    cursor: pointer;
}

button.primary {
    border: none;
    background: none;
    font-weight: bold;
    color: rgb(0, 149, 246);
}

button.accent {
    border: none;
    background: rgb(0, 149, 246);
    font-weight: bold;
    color: rgb(255, 255, 255);
}

button.normal {
    border: none;
    background: rgb(239, 239, 239);
    font-weight: bold;
    color: rgb(0, 0, 0);
}

button.primary:hover {
    color: rgb(24, 119, 246);
}

button.accent:hover {
    background: rgb(24, 119, 246);
}

button.normal:hover {
    background: rgb(202, 202, 202);
}

button.primary:disabled {
    color: rgb(169, 219, 255);
}

.error-message-container {
    padding: 0;
    text-align: center;
}

.error-message {
    color: red;
}

.error-message::marker {
    content: none;
}
