#login-container {
    width: 400px;
    margin: 0 auto;
}

#login-form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(202, 202, 202);
    margin: 10px;
    padding: 30px 70px;
    row-gap: 10px;
}

#login-form-title {
    padding-bottom: 10px;
    align-self: center;
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 30px;
}

#login-form-title img {
    width: 30px;
    height: 30px;
}

#login-form input {
    box-sizing: border-box;
    width: 100%;
}

#login-form button {
    width: 100%;
    align-self: center;
}

#login-to-signup {
    text-align: center;
    border: 1px solid rgb(202, 202, 202);
    margin: 10px;
    padding: 20px;
}

#login-to-signup a {
    color: rgb(0, 149, 246);
    font-weight: bold;
}

#login-to-signup a:hover {
    color: rgb(24, 119, 246);
}
