#about-container {
    display: flex;
    width: 1000px;
    justify-content: space-around;
    column-gap: 50px;
    margin: 0 auto;
}

#site-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 10px;
    /* padding: 10px; */
    text-align: start;
    font-size: 20px;
}

#site-description > * {
    margin: 0 0 20px;
    line-height: 125%;
}

#list-demo-wrapper {
    width: 400px;
    margin: 0 30px;
}

#list-demo {
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    border: 1px solid rgb(202, 202, 202);
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to bottom,
        rgb(187, 187, 184),
        rgba(254, 254, 255, 0.5)),
        url("https://keeping-up-aa-ai.s3.us-west-1.amazonaws.com/stickynote.png");
}

#list-demo-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#list-demo-header {
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    width: 400px;
}

#list-demo-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px double rgb(202, 202, 202);
}

.list-demo-user-name {
    font-weight: bold;
}

#list-demo-title {
    margin: 10px 5px;
    font-family: 'Cookie';
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
    color: maroon;
    text-align: center;
}

#list-demo-list {
    height: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-family: 'Baskerville';
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
    color: black;
    text-align: left;
    padding: 20px 10px 10px 35px;
}

#list-demo-footer {
    padding: 5px;
    box-sizing: border-box;
    width: 400px;
}

#list-demo-footer > * {
    margin: 5px 0;
}

#list-demo-icons span {
    font-size: 20pt;
    margin-right: 20px;
    cursor: pointer;
}

.red-like-icon {
    color: red;
}

#list-demo-popup {
    width: 225px;
    margin: 50px auto;
    background: rgb(0, 149, 246);;
    padding: 10px;
    text-align: center;
    font-weight: 900;
    color: white;
    font-family: "Baskerville";
    font-size: 20px;
    position: relative;
    left: 195px;
    bottom: 75px;
    border-radius: 5px;
}

#list-demo-popup:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid rgb(0, 149, 246);;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(0, 149, 246);;
    border-bottom: 10px solid transparent;
    right: -20px;
    top: 15px;
}
