#create-list-container {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-left: 40px;
}

#create-list-form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(202, 202, 202);
    margin: 10px;
    padding: 30px;
    row-gap: 10px;
}

#list-form-title {
    font-size: 24px;
    margin-bottom: 10px;
}

#create-list-form input,
#create-list-form textarea {
    box-sizing: border-box;
    width: 100%;
}

#create-list-form > button {
    box-sizing: border-box;
    width: 100%;
    align-self: center;
}

#title-settings-container,
#list-settings-container,
#list-completed-settings-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

#title-settings-container > *,
#list-settings-container > *,
#list-completed-settings-container > * {
    font-family: 'Times New Roman', Times, serif;
    min-width: 30px;
    height: 30px;
    padding: 0;
}

#title-settings-container > input,
#list-settings-container > input,
#list-completed-settings-container > input {
    width: 50px;
}

#list-text-area:disabled {
    background-color: rgba(0, 0, 0, 0.1);
}
