#signup-container {
    width: 400px;
    margin: 0 auto;
}

#signup-form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(202, 202, 202);
    margin: 10px;
    padding: 30px 70px;
    row-gap: 10px;
}

#signup-form-title {
    padding-bottom: 10px;
    align-self: center;
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 30px;
}

#signup-form-title img {
    width: 30px;
    height: 30px;
}

#signup-form input {
    box-sizing: border-box;
    width: 100%;
}

#signup-form input#checkbox {
    width: min-content;
    align-self: start;
}

#signup-form-button {
    width: 100%;
    align-self: center;
}

#signup-to-login {
    text-align: center;
    border: 1px solid rgb(202, 202, 202);
    margin: 10px;
    padding: 20px;
}

#signup-to-login a {
    color: rgb(0, 149, 246);
    font-weight: bold;
}

#signup-upload-image {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 50%;
    object-fit: cover;
    border: 15px double rgb(202, 202, 202);
    margin: 10px 0;
}

#signup-upload-remove {
    padding: 0;
    color: red;
    border: none;
    background: none;
    position: absolute;
    padding: 10px 0;
}

#signup-upload-remove:hover {
    text-decoration: underline;
}
