#delete-comment-container form {
    display: flex;
    flex-direction: column;
}

#delete-comment-container button {
    padding: 10px 0;
    background: none;
    width: 100%;
    border: 1px solid lightgrey;
    border-left: none;
    border-right: none;
    border-top: none;
}

#delete-comment-container button:last-child {
    border-bottom: none;
}
