#delete-comment-container form {
    display: flex;
    flex-direction: column;
}

#delete-comment-container #modal-title {
    font-size: 25px;
}

#delete-comment-container button {
    padding: 10px 0;
    background: none;
    width: 100%;
    border: 1px solid rgb(202, 202, 202);
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
}

#delete-comment-container button:last-child {
    border-bottom: none;
}
