#no-lists-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-left: 70px;
}

#no-lists-container a {
    font-weight: bold;
    color: rgb(0, 149, 246);
}
